<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="INFO" monitorInterval="6000">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!-- 控制台只输出level及以上级别的信息(onMatch),其他的直接拒绝(onMismatch) -->
            <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <!-- 输出日志的格式 -->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="DEBUG">
            <appender-ref ref="Console"/>
        </Root>
    </Loggers>

</Configuration>
